<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="PageBean" type="com.hxkj.totop.entity.pojo.PageBean"/>
		<typeAlias alias="IndexPage" type="com.hxkj.totop.entity.IndexPage"/>
		<typeAlias alias="Mingpinhui" type="com.hxkj.totop.entity.Mingpinhui"/>
		<typeAlias alias="PingLife" type="com.hxkj.totop.entity.PingLife"/>
		<typeAlias alias="RichText" type="com.hxkj.totop.entity.RichText"/>
		<typeAlias alias="SysUser" type="com.hxkj.totop.entity.SysUser"/>
	</typeAliases>
</configuration>