.update-all-product {
    box-sizing: border-box;
    position: fixed;
    bottom: -1px;
    right: 0px;
    min-width: 88px;
    /*width: 210px;*/
    height: 40px;
    border: 1px solid #ccc;
    background-color: rgb(248, 248, 248);
    padding-top: 3px;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

#update-all-product-price-btn {
    margin-left: 3px;
}

.update-price-input {
}

.update-price-input-disable {
    width: 200px;
    border: none;
    padding: .4rem;
}

.update-price-input-able {
    width: 200px;
    padding: .3rem;
}