<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxkj.waychat.dao.ISysUserDao">

  <resultMap id="BaseResultMap" type="com.hxkj.waychat.entity.SysUser">
    <id column="sys_user_cuid" jdbcType="VARCHAR" property="sysUserCuid" />
    <result column="sys_user_icon" jdbcType="VARCHAR" property="sysUserIcon" />
    <result column="sys_user_name" jdbcType="VARCHAR" property="sysUserName" />
    <result column="sys_user_like_name" jdbcType="VARCHAR" property="sysUserLikeName" />
    <result column="sys_user_login_name" jdbcType="VARCHAR" property="sysUserLoginName" />
    <result column="sys_user_password" jdbcType="VARCHAR" property="sysUserPassword" />
    <result column="sys_user_profile" jdbcType="VARCHAR" property="sysUserProfile" />
    <result column="sys_user_address" jdbcType="VARCHAR" property="sysUserAddress" />
    <result column="sys_user_tel" jdbcType="VARCHAR" property="sysUserTel" />
    <result column="sys_user_email" jdbcType="VARCHAR" property="sysUserEmail" />
    <result column="sys_user_online_state" jdbcType="SMALLINT" property="sysUserOnlineState" />
    <result column="sys_user_state" jdbcType="SMALLINT" property="sysUserState" />
    <result column="sys_user_create_time" jdbcType="VARCHAR" property="sysUserCreateTime" />
    <result column="sys_user_update_time" jdbcType="VARCHAR" property="sysUserUpdateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    sys_user_cuid, sys_user_icon, sys_user_name, sys_user_like_name, sys_user_login_name, 
    sys_user_password, sys_user_profile, sys_user_address, sys_user_tel, sys_user_email, 
    sys_user_online_state, sys_user_state, sys_user_create_time, sys_user_update_time
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="com.hxkj.waychat.entity.SysUser">
    delete from sys_user
    where sys_user_cuid = #{sysUserCuid,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.hxkj.waychat.entity.SysUser">
    insert into sys_user (sys_user_cuid, sys_user_icon, sys_user_name, 
      sys_user_like_name, sys_user_login_name, sys_user_password, 
      sys_user_profile, sys_user_address, sys_user_tel, 
      sys_user_email, sys_user_online_state, sys_user_state, 
      sys_user_create_time, sys_user_update_time)
    values (#{sysUserCuid,jdbcType=VARCHAR}, #{sysUserIcon,jdbcType=VARCHAR}, #{sysUserName,jdbcType=VARCHAR}, 
      #{sysUserLikeName,jdbcType=VARCHAR}, #{sysUserLoginName,jdbcType=VARCHAR}, #{sysUserPassword,jdbcType=VARCHAR}, 
      #{sysUserProfile,jdbcType=VARCHAR}, #{sysUserAddress,jdbcType=VARCHAR}, #{sysUserTel,jdbcType=VARCHAR}, 
      #{sysUserEmail,jdbcType=VARCHAR}, #{sysUserOnlineState,jdbcType=SMALLINT}, #{sysUserState,jdbcType=SMALLINT}, 
      #{sysUserCreateTime,jdbcType=VARCHAR}, #{sysUserUpdateTime,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.hxkj.waychat.entity.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysUserCuid != null">
        sys_user_cuid,
      </if>
      <if test="sysUserIcon != null">
        sys_user_icon,
      </if>
      <if test="sysUserName != null">
        sys_user_name,
      </if>
      <if test="sysUserLikeName != null">
        sys_user_like_name,
      </if>
      <if test="sysUserLoginName != null">
        sys_user_login_name,
      </if>
      <if test="sysUserPassword != null">
        sys_user_password,
      </if>
      <if test="sysUserProfile != null">
        sys_user_profile,
      </if>
      <if test="sysUserAddress != null">
        sys_user_address,
      </if>
      <if test="sysUserTel != null">
        sys_user_tel,
      </if>
      <if test="sysUserEmail != null">
        sys_user_email,
      </if>
      <if test="sysUserOnlineState != null">
        sys_user_online_state,
      </if>
      <if test="sysUserState != null">
        sys_user_state,
      </if>
      <if test="sysUserCreateTime != null">
        sys_user_create_time,
      </if>
      <if test="sysUserUpdateTime != null">
        sys_user_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysUserCuid != null">
        #{sysUserCuid,jdbcType=VARCHAR},
      </if>
      <if test="sysUserIcon != null">
        #{sysUserIcon,jdbcType=VARCHAR},
      </if>
      <if test="sysUserName != null">
        #{sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserLikeName != null">
        #{sysUserLikeName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserLoginName != null">
        #{sysUserLoginName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserPassword != null">
        #{sysUserPassword,jdbcType=VARCHAR},
      </if>
      <if test="sysUserProfile != null">
        #{sysUserProfile,jdbcType=VARCHAR},
      </if>
      <if test="sysUserAddress != null">
        #{sysUserAddress,jdbcType=VARCHAR},
      </if>
      <if test="sysUserTel != null">
        #{sysUserTel,jdbcType=VARCHAR},
      </if>
      <if test="sysUserEmail != null">
        #{sysUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="sysUserOnlineState != null">
        #{sysUserOnlineState,jdbcType=SMALLINT},
      </if>
      <if test="sysUserState != null">
        #{sysUserState,jdbcType=SMALLINT},
      </if>
      <if test="sysUserCreateTime != null">
        #{sysUserCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="sysUserUpdateTime != null">
        #{sysUserUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectByPrimaryKey" parameterType="com.hxkj.waychat.entity.SysUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where sys_user_cuid = #{sysUserCuid,jdbcType=VARCHAR}
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.hxkj.waychat.entity.SysUser">
    update sys_user
    <set>
      <if test="sysUserIcon != null">
        sys_user_icon = #{sysUserIcon,jdbcType=VARCHAR},
      </if>
      <if test="sysUserName != null">
        sys_user_name = #{sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserLikeName != null">
        sys_user_like_name = #{sysUserLikeName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserLoginName != null">
        sys_user_login_name = #{sysUserLoginName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserPassword != null">
        sys_user_password = #{sysUserPassword,jdbcType=VARCHAR},
      </if>
      <if test="sysUserProfile != null">
        sys_user_profile = #{sysUserProfile,jdbcType=VARCHAR},
      </if>
      <if test="sysUserAddress != null">
        sys_user_address = #{sysUserAddress,jdbcType=VARCHAR},
      </if>
      <if test="sysUserTel != null">
        sys_user_tel = #{sysUserTel,jdbcType=VARCHAR},
      </if>
      <if test="sysUserEmail != null">
        sys_user_email = #{sysUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="sysUserOnlineState != null">
        sys_user_online_state = #{sysUserOnlineState,jdbcType=SMALLINT},
      </if>
      <if test="sysUserState != null">
        sys_user_state = #{sysUserState,jdbcType=SMALLINT},
      </if>
      <if test="sysUserCreateTime != null">
        sys_user_create_time = #{sysUserCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="sysUserUpdateTime != null">
        sys_user_update_time = #{sysUserUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where sys_user_cuid = #{sysUserCuid,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.hxkj.waychat.entity.SysUser">
    update sys_user
    set sys_user_icon = #{sysUserIcon,jdbcType=VARCHAR},
      sys_user_name = #{sysUserName,jdbcType=VARCHAR},
      sys_user_like_name = #{sysUserLikeName,jdbcType=VARCHAR},
      sys_user_login_name = #{sysUserLoginName,jdbcType=VARCHAR},
      sys_user_password = #{sysUserPassword,jdbcType=VARCHAR},
      sys_user_profile = #{sysUserProfile,jdbcType=VARCHAR},
      sys_user_address = #{sysUserAddress,jdbcType=VARCHAR},
      sys_user_tel = #{sysUserTel,jdbcType=VARCHAR},
      sys_user_email = #{sysUserEmail,jdbcType=VARCHAR},
      sys_user_online_state = #{sysUserOnlineState,jdbcType=SMALLINT},
      sys_user_state = #{sysUserState,jdbcType=SMALLINT},
      sys_user_create_time = #{sysUserCreateTime,jdbcType=VARCHAR},
      sys_user_update_time = #{sysUserUpdateTime,jdbcType=VARCHAR}
    where sys_user_cuid = #{sysUserCuid,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByAttribute" parameterType="com.hxkj.waychat.entity.SysUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="sysUserIcon != null">
        sys_user_icon = #{sysUserIcon,jdbcType=VARCHAR}
      </if>
      <if test="sysUserName != null">
        and sys_user_name = #{sysUserName,jdbcType=VARCHAR}
      </if>
      <if test="sysUserLikeName != null">
        and sys_user_like_name = #{sysUserLikeName,jdbcType=VARCHAR}
      </if>
      <if test="sysUserLoginName != null">
        and sys_user_login_name = #{sysUserLoginName,jdbcType=VARCHAR}
      </if>
      <if test="sysUserPassword != null">
        and sys_user_password = #{sysUserPassword,jdbcType=VARCHAR}
      </if>
      <if test="sysUserProfile != null">
        and sys_user_profile = #{sysUserProfile,jdbcType=VARCHAR}
      </if>
      <if test="sysUserAddress != null">
        and sys_user_address = #{sysUserAddress,jdbcType=VARCHAR}
      </if>
      <if test="sysUserTel != null">
        and sys_user_tel = #{sysUserTel,jdbcType=VARCHAR}
      </if>
      <if test="sysUserEmail != null">
        and sys_user_email = #{sysUserEmail,jdbcType=VARCHAR}
      </if>
      <if test="sysUserOnlineState != null">
        and sys_user_online_state = #{sysUserOnlineState,jdbcType=SMALLINT}
      </if>
      <if test="sysUserState != null">
        and sys_user_state = #{sysUserState,jdbcType=SMALLINT}
      </if>
      <if test="sysUserCreateTime != null">
        and sys_user_create_time = #{sysUserCreateTime,jdbcType=VARCHAR}
      </if>
      <if test="sysUserUpdateTime != null">
        and sys_user_update_time = #{sysUserUpdateTime,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>