<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxkj.xhupubmed.dao.IFollowPostDao" >

	<resultMap id="BaseResultMap" type="FollowPost" >
	    <id column="POST_CUID" property="postCuid"  />
	    <id column="FOLLOW_CUID" property="followCuid"  />
	    <result column="FOLLOW_POST_NUMBER" property="followPostNumber" />
  	</resultMap>
	
	<sql id="Base_Column_List" >
    	POST_CUID, 
    	FOLLOW_CUID, 
    	FOLLOW_POST_NUMBER
  	</sql>
  	
  	
  	<delete id="doDeleteByPrimaryKey" parameterType="FollowPost" >
	    delete 
	    from 
	    	follow_post
	    where 
	    	POST_CUID = #{postCuid}
	      and FOLLOW_CUID = #{followCuid}
  	</delete>
  	
  	
  	<insert id="doInsert" parameterType="FollowPost" >
	    insert into 
	    	follow_post 
	    	(POST_CUID, FOLLOW_CUID, FOLLOW_POST_NUMBER
	      )
	    values 
	    	(#{postCuid}, 
	    	#{followCuid}, 
	    	#{followPostNumber}
	      )
  	</insert>
  	
  	<insert id="doInsertSelective" parameterType="FollowPost" >
	    insert into follow_post
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="postCuid != null" >
	        POST_CUID,
	      </if>
	      <if test="followCuid != null" >
	        FOLLOW_CUID,
	      </if>
	      <if test="followPostNumber != null" >
	        FOLLOW_POST_NUMBER,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="postCuid != null" >
	        #{postCuid},
	      </if>
	      <if test="followCuid != null" >
	        #{followCuid},
	      </if>
	      <if test="followPostNumber != null" >
	        #{followPostNumber},
	      </if>
	    </trim>
  	</insert>
  	
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="FollowPost" >
	    select 
	    <include refid="Base_Column_List" />
	    from 
	    	follow_post
	    where 
	    	POST_CUID = #{postCuid}
	      and FOLLOW_CUID = #{followCuid}
  	</select>
  	
  	<update id="doUpdateByPrimaryKeySelective" parameterType="FollowPost" >
	    update follow_post
	    <set >
	      <if test="followPostNumber != null" >
	        FOLLOW_POST_NUMBER = #{followPostNumber},
	      </if>
	    </set>
	    where POST_CUID = #{postCuid}
	      and FOLLOW_CUID = #{followCuid}
  	</update>
  	
  	
  	<update id="doUpdateByPrimaryKey" parameterType="FollowPost" >
	    update 
	    	follow_post
	    set 
	    	FOLLOW_POST_NUMBER = #{followPostNumber}
	    where 
	    	POST_CUID = #{postCuid}
	      and FOLLOW_CUID = #{followCuid}
  	</update>
  	
  	
  	<select id="selectByAttributeAnd" resultMap="BaseResultMap" parameterType="PageBean" >
	    select 
	    <include refid="Base_Column_List" />
	    from 
	    	follow_post
	    <where>
	    	<if test="b.followPostNumber != null and b.followPostNumber !=0" >
		        FOLLOW_POST_NUMBER = #{b.followPostNumber}
		      </if>
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
	    limit 
	    	#{startLine},#{lineSize}
  	</select>
  	
  	
  	<select id="selectByAttributeCountAnd" resultType="int" parameterType="PageBean" >
	    select 
	    	count(1)
	    from 
	    	follow_post
	    <where>
	    	<if test="b.followPostNumber != null and b.followPostNumber !=0" >
		        FOLLOW_POST_NUMBER = #{b.followPostNumber}
		      </if>
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
  	</select>
  	
  	<select id="selectByAttributeOr" resultMap="BaseResultMap" parameterType="PageBean" >
	    select 
	    <include refid="Base_Column_List" />
	    from 
	    	follow_post
	    <where>
	    	<choose>
		    	<when test="b.followPostNumber != null and b.followPostNumber !=0" >
			        FOLLOW_POST_NUMBER = #{b.followPostNumber}
			      </when>
	    	</choose>
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
	    limit 
	    	#{startLine},#{lineSize}
  	</select>
  	
  	
  	<select id="selectByAttributeCountOr" resultType="int" parameterType="PageBean" >
	    select 
	    	count(1)
	    from 
	    	follow_post
	    <where>
	    	<choose>
		    	<when test="b.followPostNumber != null and b.followPostNumber !=0" >
			        FOLLOW_POST_NUMBER = #{b.followPostNumber}
			      </when>
	    	</choose>
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
  	</select>
  	
  	
  	
	
</mapper>