<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxkj.xhupubmed.dao.IFollowDao" >

	<resultMap id="BaseResultMap" type="Follow" >
	    <id column="FOLLOW_CUID" property="followCuid"  />
	    <result column="SYS_USER_CUID" property="sysUserCuid" />
	    <result column="FOLLOW_NAME" property="followName"  />
	    <result column="FOLLOW_URL" property="followUrl"  />
	    <result column="FOLLOW_POST_CUID" property="followPostCuid"  />
	    <result column="FOLLOW_START_TIME" property="followStartTime"  />
	    <result column="FOLLOW_STATE" property="followState"  />
	    <result column="FOLLOW_CREATE_TIME" property="followCreateTime"  />
	    <result column="FOLLOW_UPDATE_TIME" property="followUpdateTime"  />
  	</resultMap>
	
	
	<sql id="Base_Column_List" >
	    FOLLOW_CUID, 
	    SYS_USER_CUID, 
	    FOLLOW_NAME, 
	    FOLLOW_URL, 
	    FOLLOW_POST_CUID,
	    FOLLOW_START_TIME, 
	    FOLLOW_STATE, 
	    FOLLOW_CREATE_TIME, 
	    FOLLOW_UPDATE_TIME
  	</sql>
  	
  	
  	<delete id="doDeleteByPrimaryKey" parameterType="Follow" >
	    delete 
	    from 
	    	follow
	    where 
	    	FOLLOW_CUID = #{followCuid}
  	</delete>
  	
  	
  	<insert id="doInsert" parameterType="Follow" >
    insert into 
    	follow 
    		(FOLLOW_CUID, 
    		SYS_USER_CUID, 
    		FOLLOW_NAME, 
	      FOLLOW_URL, 
	      FOLLOW_POST_CUID, 
	      FOLLOW_START_TIME, 
	      FOLLOW_STATE, 
	      FOLLOW_CREATE_TIME, 
	      FOLLOW_UPDATE_TIME)
    values 
	    	(#{followCuid}, 
	    	#{sysUserCuid}, 
	    	#{followName}, 
	      #{followUrl}, 
	      #{followPostCuid}, 
	      #{followStartTime}, 
	      #{followState}, 
	      #{followCreateTime}, 
	      #{followUpdateTime})
  	</insert>
  	
  	
  	<insert id="doInsertSelective" parameterType="Follow" >
	    insert into follow
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="followCuid != null" >
	        FOLLOW_CUID,
	      </if>
	      <if test="sysUserCuid != null" >
	        SYS_USER_CUID,
	      </if>
	      <if test="followName != null" >
	        FOLLOW_NAME,
	      </if>
	      <if test="followUrl != null" >
	        FOLLOW_URL,
	      </if>
	      <if test="followPostCuid != null" >
        	FOLLOW_POST_CUID,
     	  </if>
	      <if test="followStartTime != null" >
	        FOLLOW_START_TIME,
	      </if>
	      <if test="followState != null" >
	        FOLLOW_STATE,
	      </if>
	      <if test="followCreateTime != null" >
	        FOLLOW_CREATE_TIME,
	      </if>
	      <if test="followUpdateTime != null" >
	        FOLLOW_UPDATE_TIME,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="followCuid != null" >
	        #{followCuid},
	      </if>
	      <if test="sysUserCuid != null" >
	        #{sysUserCuid},
	      </if>
	      <if test="followName != null" >
	        #{followName},
	      </if>
	      <if test="followUrl != null" >
	        #{followUrl},
	      </if>
	      <if test="followPostCuid != null" >
        	#{followPostCuid},
      	  </if>
	      <if test="followStartTime != null" >
	        #{followStartTime},
	      </if>
	      <if test="followState != null" >
	        #{followState},
	      </if>
	      <if test="followCreateTime != null" >
	        #{followCreateTime},
	      </if>
	      <if test="followUpdateTime != null" >
	        #{followUpdateTime},
	      </if>
	    </trim>
  	</insert>
  	
  	
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Follow" >
	    select 
	    <include refid="Base_Column_List" />
	    from 
	    	follow
	    where 
	    	FOLLOW_CUID = #{followCuid}
  	</select>
  	
  	
  	<update id="doUpdateByPrimaryKeySelective" parameterType="Follow" >
	    update follow
	    <set >
	      <if test="sysUserCuid != null" >
	        SYS_USER_CUID = #{sysUserCuid},
	      </if>
	      <if test="followName != null" >
	        FOLLOW_NAME = #{followName},
	      </if>
	      <if test="followUrl != null" >
	        FOLLOW_URL = #{followUrl},
	      </if>
	      <if test="followPostCuid != null" >
        	FOLLOW_POST_CUID = #{followPostCuid},
      	  </if>
	      <if test="followStartTime != null" >
	        FOLLOW_START_TIME = #{followStartTime},
	      </if>
	      <if test="followState != null and followState != 0" >
	        FOLLOW_STATE = #{followState},
	      </if>
	      <if test="followCreateTime != null" >
	        FOLLOW_CREATE_TIME = #{followCreateTime},
	      </if>
	      <if test="followUpdateTime != null" >
	        FOLLOW_UPDATE_TIME = #{followUpdateTime},
	      </if>
	    </set>
	    where 
	    	FOLLOW_CUID = #{followCuid}
  	</update>
  
  	
  	<update id="doUpdateByPrimaryKey" parameterType="Follow" >
	    update 
	    	follow
	    set 
	    	SYS_USER_CUID = #{sysUserCuid},
	      FOLLOW_NAME = #{followName},
	      FOLLOW_URL = #{followUrl},
	      FOLLOW_POST_CUID = #{followPostCuid},
	      FOLLOW_START_TIME = #{followStartTime},
	      FOLLOW_STATE = #{followState},
	      FOLLOW_CREATE_TIME = #{followCreateTime},
	      FOLLOW_UPDATE_TIME = #{followUpdateTime}
	    where FOLLOW_CUID = #{followCuid}
  	</update>
  	
  	
  	<select id="selectByAttributeAnd" resultMap="BaseResultMap" parameterType="PageBean" >
	    select 
	    <include refid="Base_Column_List" />
	    from 
	    	follow
	    <where>
	    	<if test="b.sysUserCuid != null" >
	        SYS_USER_CUID = #{b.sysUserCuid}
	      </if>
	      <if test="b.followName != null" >
	        and FOLLOW_NAME = #{b.followName}
	      </if>
	      <if test="b.followUrl != null" >
	        and FOLLOW_URL = #{b.followUrl}
	      </if>
	      <if test="b.followPostCuid != null" >
        	and FOLLOW_POST_CUID = #{b.followPostCuid},
      	  </if>
	      <if test="b.followStartTime != null" >
	        and FOLLOW_START_TIME = #{b.followStartTime}
	      </if>
	      <if test="b.followState != null and b.followState != 0" >
	        and FOLLOW_STATE = #{b.followState}
	      </if>
	      <if test="b.followCreateTime != null" >
	        and FOLLOW_CREATE_TIME = #{b.followCreateTime}
	      </if>
	      <if test="b.followUpdateTime != null" >
	        and FOLLOW_UPDATE_TIME = #{b.followUpdateTime}
	      </if>
	      and FOLLOW_STATE != 4
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
	    limit 
	    	#{startLine},#{lineSize}
  	</select>
  	
  	
  	<select id="selectByAttributeCountAnd" resultType="int" parameterType="PageBean" >
	    select 
	    	count(1)
	    from 
	    	follow
	    <where>
	    	<if test="b.sysUserCuid != null" >
	        SYS_USER_CUID = #{b.sysUserCuid}
	      </if>
	      <if test="b.followName != null" >
	        and FOLLOW_NAME = #{b.followName}
	      </if>
	      <if test="b.followUrl != null" >
	        and FOLLOW_URL = #{b.followUrl}
	      </if>
	      <if test="b.followPostCuid != null" >
        	and FOLLOW_POST_CUID = #{b.followPostCuid},
      	  </if>
	      <if test="b.followStartTime != null" >
	        and FOLLOW_START_TIME = #{b.followStartTime}
	      </if>
	      <if test="b.followState != null and b.followState != 0" >
	        and FOLLOW_STATE = #{b.followState}
	      </if>
	      <if test="b.followCreateTime != null" >
	        and FOLLOW_CREATE_TIME = #{b.followCreateTime}
	      </if>
	      <if test="b.followUpdateTime != null" >
	        and FOLLOW_UPDATE_TIME = #{b.followUpdateTime}
	      </if>
	      and FOLLOW_STATE != 4
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
  	</select>
  	
  	
  	<select id="selectByAttributeOr" resultMap="BaseResultMap" parameterType="PageBean" >
	    select 
	    <include refid="Base_Column_List" />
	    from 
	    	follow
	    <where>
	    	<choose>
	    		<when test="b.sysUserCuid != null" >
		        SYS_USER_CUID = #{b.sysUserCuid}
		      </when>
		      <when test="b.followName != null" >
		        and FOLLOW_NAME = #{b.followName}
		      </when>
		      <when test="b.followUrl != null" >
		        and FOLLOW_URL = #{b.followUrl}
		      </when>
		      <when test="b.followPostCuid != null" >
        		and FOLLOW_POST_CUID = #{b.followPostCuid},
      	  	  </when>
		      <when test="b.followStartTime != null" >
		        and FOLLOW_START_TIME = #{b.followStartTime}
		      </when>
		      <when test="b.followState != null and b.followState != 0" >
		        and FOLLOW_STATE = #{b.followState}
		      </when>
		      <when test="b.followCreateTime != null" >
		        and FOLLOW_CREATE_TIME = #{b.followCreateTime}
		      </when>
		      <when test="b.followUpdateTime != null" >
		        and FOLLOW_UPDATE_TIME = #{b.followUpdateTime}
		      </when>
	    	</choose>
	      and FOLLOW_STATE != 4
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
	    limit 
	    	#{startLine},#{lineSize}
  	</select>
  	
  	
  	<select id="selectByAttributeCountOr" resultType="int" parameterType="PageBean" >
	    select 
	    	count(1)
	    from 
	    	follow
	    <where>
	    	<choose>
	    		<when test="b.sysUserCuid != null" >
		        SYS_USER_CUID = #{b.sysUserCuid}
		      </when>
		      <when test="b.followName != null" >
		        and FOLLOW_NAME = #{b.followName}
		      </when>
		      <when test="b.followUrl != null" >
		        and FOLLOW_URL = #{b.followUrl}
		      </when>
		      <when test="b.followPostCuid != null" >
        		and FOLLOW_POST_CUID = #{b.followPostCuid},
      	  	  </when>
		      <when test="b.followStartTime != null" >
		        and FOLLOW_START_TIME = #{b.followStartTime}
		      </when>
		      <when test="b.followState != null and b.followState != 0" >
		        and FOLLOW_STATE = #{b.followState}
		      </when>
		      <when test="b.followCreateTime != null" >
		        and FOLLOW_CREATE_TIME = #{b.followCreateTime}
		      </when>
		      <when test="b.followUpdateTime != null" >
		        and FOLLOW_UPDATE_TIME = #{b.followUpdateTime}
		      </when>
	    	</choose>
	      and FOLLOW_STATE != 4
	    </where>
	    <if test="orderByString != null">
	    	${orderByString}
	    </if>
  	</select>
  	
  	<select id="selectByAttribute" resultMap="BaseResultMap" parameterType="Follow" >
	    select 
	    <include refid="Base_Column_List" />
	    from 
	    	follow
	    <where>
	    	<if test="sysUserCuid != null" >
	        SYS_USER_CUID = #{sysUserCuid}
	      </if>
	      <if test="followName != null" >
	        and FOLLOW_NAME = #{followName}
	      </if>
	      <if test="followUrl != null" >
	        and FOLLOW_URL = #{followUrl}
	      </if>
	      <if test="followPostCuid != null" >
        	and FOLLOW_POST_CUID = #{followPostCuid}
      	  </if>
	      <if test="followStartTime != null" >
	        and FOLLOW_START_TIME = #{followStartTime}
	      </if>
	      <if test="followState != null and followState != 0" >
	        and FOLLOW_STATE = #{followState}
	      </if>
	      <if test="followCreateTime != null" >
	        and FOLLOW_CREATE_TIME = #{followCreateTime}
	      </if>
	      <if test="followUpdateTime != null" >
	        and FOLLOW_UPDATE_TIME = #{followUpdateTime}
	      </if>
	    </where>
  	</select>
  
  	<delete id="doDeleteByAttribute" parameterType="Follow" >
	    delete 
	    from 
	    	follow
	    where 
	    	FOLLOW_POST_CUID = #{followPostCuid}
  	</delete>
  	
</mapper>